<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div
            style="
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            "
        >
            <pre>
 _______                      __                            __              __                                   
/       \                    /  |                          /  |            /  |                                  
$$$$$$$  | ______   __    __ $$ |  ______    ______    ____$$ |        ____$$ | __    __  _____  ____    ______  
$$ |__$$ |/      \ /  |  /  |$$ | /      \  /      \  /    $$ |       /    $$ |/  |  /  |/     \/    \  /      \ 
$$    $$/ $$$$$$  |$$ |  $$ |$$ |/$$$$$$  | $$$$$$  |/$$$$$$$ |      /$$$$$$$ |$$ |  $$ |$$$$$$ $$$$  |/$$$$$$  |
$$$$$$$/  /    $$ |$$ |  $$ |$$ |$$ |  $$ | /    $$ |$$ |  $$ |      $$ |  $$ |$$ |  $$ |$$ | $$ | $$ |$$ |  $$ |
$$ |     /$$$$$$$ |$$ \__$$ |$$ |$$ \__$$ |/$$$$$$$ |$$ \__$$ |      $$ \__$$ |$$ \__$$ |$$ | $$ | $$ |$$ |__$$ |
$$ |     $$    $$ |$$    $$ |$$ |$$    $$/ $$    $$ |$$    $$ |      $$    $$ |$$    $$/ $$ | $$ | $$ |$$    $$/ 
$$/       $$$$$$$/  $$$$$$$ |$$/  $$$$$$/   $$$$$$$/  $$$$$$$/        $$$$$$$/  $$$$$$/  $$/  $$/  $$/ $$$$$$$/  
                   /  \__$$ |                                                                          $$ |      
                   $$    $$/                                                                           $$ |      
                    $$$$$$/                                                                            $$/       

    </pre
            >
            <p>For list of payloads go to /payload</p>
        </div>
    </body>
</html>
